<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if user_signed_in? %>
        <%= link_to "mini app", user_show_path, id: "logo" %>
    <% else %>
        <%= link_to "mini app", new_user_registration_path , id: "logo" %>
    <% end %>
  </div>
</header>